@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;500&family=Titillium+Web:wght@600&display=swap');

:root {
    --red1: rgba(208, 45, 2, 1.0);
    --red2: rgba(208, 45, 2, 0.7);
    --blueBackground1: rgba(90, 160, 180, 1.0);
    --black-transparent1: rgba(0, 0, 0, 0.5);

}

body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    background-color: #eee;
    margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(208, 45, 2);
    margin-top: .5rem;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 1rem;
    position: relative;
}

ul,
ol {
    margin: 0;
    padding: 0 0 1rem 1rem;
}

li {
    margin: .5rem 0;
}

#header1 {
    height: 150px;
    background-color: #e8e8e8;

    background: url(../images/iran1_1200w.jpg) no-repeat top left;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#heading1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5rem;
    line-height: 1.2em;
    text-align: center;
    color: #fff;
}

#nav1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0 .5rem;
    padding: .5rem;
    list-style-type: none;
}


#nav1 li {
    margin: .3em 0;
    flex: 1 0 33%;
    text-align: center;
}

#nav1 li a {
    padding: .4rem;
    text-wrap: nowrap;
    outline: 1px solid var(--red1);
    border-radius: 5px;
    display: block;
    color: #333;
    text-decoration: none;
    transition: all .1s ease;
}

#nav1 li a:hover {
    transform: scale(1.1);
    background-color: var(--blueBackground1);
    color: #fff;
    box-shadow: 0 0 5px var(--red2);
    animation: pulse1 .8s ease infinite;
}

#image1 {
    grid-area: image1;
    background: url(../images/background4.jpg) no-repeat 130% 30%;
    background-size: auto;
    background-attachment: fixed;
}

#asArtist {
    grid-area: asArtist;

}

#publications {
    grid-area: publications;
}

#asCurator {
    grid-area: asCurator;
}

#image2 {
    grid-area: image2;
    background: url(../images/background2.jpg) no-repeat top left;
    background-size: cover;
}

#footer1 {
    height: 50px;
    background-color: #e8e8e8;
    background: url(../images/iran1_1200w.jpg) no-repeat top left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.3rem;
}

#content1 div {
    padding: 1rem;
    outline: 1px solid var(--black-transparent1);
    border-radius: .5rem;
    margin: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width:768px) {
    #nav1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0 .5rem;
        padding: .5rem;
        list-style-type: none;
    }

    #nav1 li {
        margin: .3em 0;
        flex: auto;
        text-align: center;
    }

    #content1 {
        display: grid;
        grid-template-rows: 30px repeat(5, minmax(75px, 1fr));
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "image1 asArtist asArtist asArtist publications publications"
            "image1 asArtist asArtist asArtist asCurator asCurator"
            "image1 asArtist asArtist asArtist image2 image2";
    }
}

@media screen and (min-width:1200px) {

    #content1 {
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(6, minmax(75px, 1fr));
        grid-template-areas:
            "image1 asArtist asArtist asArtist publications asCurator"
            "image1 asArtist asArtist asArtist image2 image2";
    }
}